<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Eagle Home Page</title>


</head>

<body>

    <tr>
        <td colspan="3"><center>
                <h2>Eagle Financial Services</h2>

        </td>
    </tr>
    <tr>
        <td colspan="3"><center>
                <h2>Your Midwest Financial Services Partner</h2>

        </td>
    </tr>
    <tr>
        <td colspan="3"><center>
                <h3>Financial Advisor Portfolio Planner</h3>

        </td>
    </tr>
    <tr>

<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
    <center><img src= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSSKWjnR-vJq5NPPNh41qIRR8iPic38WGnDVNYryhzPA-qicI8DalxptOg" alt="eye" height ="200" width="280" border="3px"  </center>
    </tr>
    <tr>
        <td class="column" colspan="3">
            <h3 align="center" style "..."> Portfolio Planner Options </h3>
        </td>
    </tr>

<!-- Need to update the links, but will need to update them as OpenSource -->

<!-- <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0">-->
<style type ="text/css"> body {font-family: New Roman, Freesans, verdana; margin:60; line-height:60px;
    background-image: url(http://www.freewebheaders.com/wordpress/wp-content/gallery/office-finance/blue-3d-business-accounting-charts-background-header.jpg);}
</style>
<!-- Can use one of the two link options below -->
<!--<form align="left">
   <select onChange="Location=this.options[this.selectedIndex].value;" style"...">
    <option value="">Select One</option>
    <option value="http://localhost/eagle/customers">Customers</option>
    <option value="http://localhost/eagle/stocks">Stocks</option>
    <option value="http://localhost/eagle/investments">Investments</option>
    <option value="http://localhost/eagle/customers/add">New Customer</option>
    <option value="http://localhost/eagle/stocks/add">New Stocks</option>
    <option value="http://localhost/eagle/investments/add">New Investments</option>
   </select>
</form>

-->

    <tr>
        <td><a href="">Home</a></td>
    </tr>
    <tr>
        <td><a href="http://assign-jmavery.rhcloud.com/eagle/customers">Select Customer and Review Profile</a></td>
    </tr>
    <tr>
        <td><a href="http://assign-jmavery.rhcloud.com/eagle/stocks">Update Portfolio</a></td>
    </tr>
    <tr>
        <td><a href="http://assign-jmavery.rhcloud.com/eagle/investments">Update Other investments</a></td>
    </tr>
</table>
    <tr style='line-height: 50%;'>
        <div style='text-align:right'><a href="http://www.marketwatch.com/">Marketwatch</a></div>
        <div style='text-align:right'><a href="http://money.cnn.com/">CNN</a></div>
        <div style='text-align:right'><a href="http://www.cnbc.com/">CNBC.com</a></div>
        <div style='text-align:right'><a href="https://finance.yahoo.com/">Yahoo Finance</a></div>
    </tr>


</body>
</>



</html>
</form>
<!-- add to our design, create a 'styles.css' file in the design folder and add the following code:

body{
background-color:#003399;
color:#FFFFFF;
}
a{
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
.column{
background-color:#3366CC;
vertical-align:top;
}
.header{
background-color:#336699;
}
.footer{
background-color:#336699;
}
